<!-- This page is for admins to add new questions to the question bank -->

<!-- ARGUMENTS:
    subjectUnitDictionary - a class; key is a subject name (corresponding to one in subjects array) and value is an array of the units -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>



<!-- send to backend -->
<script>
	$(document).ready(function () {

		// hide LaTeX compiler
		$("#latex-compiler").hide();
		$("#show-compiler").click(function() {
			$("#latex-compiler").show(1000);
			$("#show-compiler-div").hide(1000);
		});

		// set code for showing LaTeX compiler

		// set what happens when question is submitted
		var type, question, choices, tags, ext_source, rating, subject, units, answer, answer_ex, author;
		$("#submit").click(function () {

			// free response text values
			question = $("#question").val();
			choices = $("#answerchoices").val();
			tags = $("#tags").val();
			rating = $("#rating").val();
			answer = $("#correctanswer").val();
			answer_ex = $("#answerexplanation").val();
			author = $("#author").val();


			// radio values
			var typeInputs = document.getElementById("question-format").elements;
			for(let i = 0; i < typeInputs.length; i++) {
				if(typeInputs[i].checked) {
					type = typeInputs[i].id;
				}
			}

			var srcInputs = document.getElementById("external-source").elements;
			for(let i = 0; i < srcInputs.length; i++) {
				if(srcInputs[i].checked) {
					ext_source = srcInputs[i].id;
				}
			}


			// checkbox values - returns ARRAY
			subject = [];
			var subjInputs = document.getElementById("subjects").elements;
			for(let i = 0; i < subjInputs.length; i++) {
				if(subjInputs[i].checked) {
					subject.push(subjInputs[i].id);
				}
			}

			units = [];
			var unitInputs = document.getElementById("units").elements;
			for(let i = 0; i < unitInputs.length; i++) {
				if(unitInputs[i].checked) {
					units.push(unitInputs[i].id);
				}
			}


			//var type, question, choices, tags, ext_source, rating, subject, units, answer, answer_ex, author;

			// EVERYTHING IS A STRING EXCEPT FOR SUBJECT AND UNITS, WHICH ARE ARRAYS
			$.post("/admin/addquestion", { type: type, question: question, choices: choices, tags: tags,
				ext_source: ext_source, rating: rating, subject: subject, units: units,
				answer: answer, answer_ex: answer_ex, author: author }, function (data) {
				
				location.reload(true);
			});

		});
	});
</script>



<h1 class="my-5 container">ADMIN PAGE: Add Question</h1>

<div class="jumbotron container" id="show-compiler-div">

	<button type="button" class="btn btn-primary btn-block" id="show-compiler">Open LaTeX Compiler</button>

</div>

<div class="jumbotron container" id="latex-compiler">
	
	<div class="form-group">
		<h3>LaTeX Compiler - NOT PART OF THE QUESTION</h3>
		<textarea class="form-control" id="latexcompiler" rows="3" placeholder="Enter LaTeX here and then click Render"></textarea>
    </div>
	
	<p id="rendersandbox">[Sample rendered LaTeX goes here - did you know $F = ma$ ?]</p>
	
	<button type="button" class="btn btn-primary" id="render" onclick="document.getElementById('rendersandbox').innerHTML = document.getElementById('latexcompiler').value; MathJax.typeset();">Render</button>

</div>

<div class="jumbotron container">

	<h3>Question Display</h3>
    <!-- FORMAT -->
	<form id="question-format">
		<p>What is the format of this question?</p>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="answerChoice" id="mc" value="mc">
			<label class="form-check-label" for="mc">Multiple Choice</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="answerChoice" id="fr" value="fr">
			<label class="form-check-label" for="fr">Free Response</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="answerChoice" id="sa" value="sa">
			<label class="form-check-label" for="sa">Select All</label>
		</div>
    </form>
    <!-- QUESTION STATEMENT -->
	<div class="form-group">
		<p>What is the question?</p>
		<textarea class="form-control" id="question" rows="3" placeholder="Type in a whole question"></textarea>
    </div>
    <!-- ANSWER CHOICES -->
	<div class="form-group">
		<p>FOR MC AND SA ONLY: What are the answer choices?</p>
		<textarea class="form-control" id="answerchoices" rows="6" placeholder="Type in answer choices, using '@' characters as deliminators"></textarea>
	</div>
	<!-- TAGS -->
	<div class="form-group">
		<p>What are the tags for this question?</p>
		<textarea class="form-control" id="tags" rows="2" placeholder="Type in tags with '@' characters as deliminators"></textarea>
	</div>
	<!-- EXTERNAL SOURCES? -->
	<form id="external-source">
		<p>Is this question from an external source?</p>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="answerChoice" id="original" value="original">
			<label class="form-check-label" for="original">Original - written by Mutorials</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="answerChoice" id="AP" value="AP">
			<label class="form-check-label" for="AP">AP (Advanced Placement)</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="answerChoice" id="IB" value="IB">
			<label class="form-check-label" for="IB">IB (International Baccalaureate)</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="answerChoice" id="SAT2" value="SAT2">
			<label class="form-check-label" for="SAT2">SAT2 (Scholastic Aptitude Test 2)</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="answerChoice" id="Comp" value="Comp">
			<label class="form-check-label" for="Comp">Competition problem</label>
		</div>
    </form>
</div>

<div class="jumbotron container">

    <h3>Question Data</h3>
    <!-- RATING -->
	<div class="form-group">
		<p>What is the rating of this question?</p>
		<input type="number" class="form-control" id="rating" placeholder="Enter an integer rating">
    </div>
    <!-- SUBJECTS -->
	<form id="subjects">
		<p>What subject(s) does this question fall under?</p>
        <% Object.keys(subjectUnitDictionary).forEach((subject) => { %>
            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="<%= subject %>">
                <label class="custom-control-label" for="<%= subject %>"><%= subject %></label>
            </div>
        <% }) %>
	</form>
    <!-- UNITS -->
	<form id="units">
        <p>What units(s) does this question belong to?</p>
        <% Object.keys(subjectUnitDictionary).forEach((subject) => { %>
            <% subjectUnitDictionary[subject].forEach((unit) => { %>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="<%= subject %> - <%= unit %>">
                    <label class="custom-control-label" for="<%= subject %> - <%= unit %>"><%= subject.toUpperCase() %>: <%= unit %></label>
                </div>
            <% }) %>
        <% }) %>
	</form>
	<!-- AUTHOR -->
	<div class="form-group">
		<p>INTERNAL USE ONLY: Who is the author of this question?</p>
		<input type="text" class="form-control" id="author" placeholder="Enter the first name (with capitalization)">
    </div>
	
</div>

<div class="jumbotron container">

    <h3>Answer Info</h3>
    <!-- ANSWER -->
	<div class="form-group">
		<p>What is the correct answer?</p>
		<input class="form-control" id="correctanswer" placeholder="Input the answer, with '@' characters as deliminators if there are multiple">
    </div>
	    <!-- ANSWER EXPLANATION -->
	<div class="form-group">
		<p>What is the answer explanation?</p>
		<textarea class="form-control" id="answerexplanation" rows="3" placeholder="Enter a detailed answer explanation"></textarea>
    </div>
	
</div>

<div class = "container mt-4 mb-5">
    <button type="button" class="btn btn-secondary" id="cancel">Cancel</button>
    <a href="/admin/addedSuccess"><button type="button" class="btn btn-primary" id="submit">Submit</button></a>
</div>

<%- include("../partials/footer") -%>