<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/headV2.ejs') %>

    <%# Views can insert additional html head content here %>
    <%- defineContent('head') %>
  </head>

  <body class="overflow-x-hidden">
    <%- include('../partials/navigationV2') %>
    <%- include ('../partials/flashes') %>
    <div class="main flex flex-col items-center">
      <%- defineContent('main') %>
    </div>
    <%- include('../partials/footerV2.ejs') %>
  </body>
</html>
