<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Mutorials <%= locals.pageName ? `• ${locals.pageName}` : "" %></title>
    <link rel="icon" href="https://cdn.mutorials.org/images/icons/Icon_Main.svg" sizes="any" type="image/svg+xml">

    <%# Meta tags %>
    <meta property="og:title" content="Mutorials">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.mutorials.org/">
    <meta property="og:image" content="https://cdn.mutorials.org/images/icons/Icon_Main.svg">
    <meta property="og:description" content="Mutorials is a free, adaptive, web-based science trainer powered by a passionate and experienced team of students, with various fun and competitive game modes to enrich your learning!">

    <%# External fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <%# Font awesome icons %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/63ec6f8c9f.js" crossorigin="anonymous"></script>

    <%# Stylesheets %>
    <link rel="stylesheet" href="css/style.css">
    <style>
      [x-cloak] {
        display: none;
      }
    </style>

    <%# JQuery everywhere! %>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <%# Views can insert additional html head content here %>
    <%- defineContent('head') %>
  </head>

  <body class="overflow-x-hidden">
    <%- include('../partials/navigationV2') %>
    <%- include ('../partials/flashes') %>
    <div class="main flex flex-col items-center">
      <%- defineContent('main') %>
    </div>
    <%- include('../partials/footerV2.ejs') %>
  </body>
</html>
