<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/headV2.ejs') %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RPHB3361MQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RPHB3361MQ');
    </script>

    <%# Views can insert additional html head content here %>
    <%- defineContent('head') %>
  </head>

  <body class="overflow-x-hidden">
    <%- include('../partials/navigationV2.ejs') %>
    <%- include ('../partials/flashesV2.ejs') %>
    <div class="main flex flex-col items-center">
      <%- defineContent('main') %>
    </div>
    <%- include('../partials/footerV2.ejs') %>
  </body>
</html>
