<%# Root page upon signin %>
<%# ARGUMENTS: announcements - list of past 20 announcements %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPrivate") -%>

<h1 class="my-5 container text-center display-3">Mutorials Announcements</h1>

<% announcements.forEach((announcement) => { %>
    <div class="jumbotron container">
        <h3 class=""><%= announcement.title %></h3>
        <p class=""><em>Posted <%= announcement.date.split('T')[0] %></em></p>
        <p class=""><%= announcement.text %></p>
    </div>
<% }); %>

<p class="container text-center mb-5">NOTE: this page only displays up to the past 20 announcements</p>

<%- include("../partials/footer") -%>
