<%# Root page upon signin %>
<%# ARGUMENTS: user- the user logged in right now %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPrivate") -%>

<script>

    $(document).ready(function() {

        $(".thumbnail").fadeTo(0, 0.8);
        $(".thumbnail").on({
            mouseenter: function() {
                $(this).fadeTo(200, 1);
            },
            mouseleave: function() {
                $(this).fadeTo(200, 0.8);
            }
        });

        $("#physics-card").hide(0);
        $("#chem-card").hide(0);
        $("#bio-card").hide(0);
        $("#physics-icon").mouseenter(function() {
            $("#default-card").hide(0);
            $("#physics-card").show(0);
            $("#chem-card").hide(0);
            $("#bio-card").hide(0);
        });
        $("#chem-icon").mouseenter(function() {
            $("#default-card").hide(0);
            $("#physics-card").hide(0);
            $("#chem-card").show(0);
            $("#bio-card").hide(0);
        });
        $("#bio-icon").mouseenter(function() {
            $("#default-card").hide(0);
            $("#physics-card").hide(0);
            $("#chem-card").hide(0);
            $("#bio-card").show(0);
        });

        // search button configure
        $("#search").click(function () {

            // free response text values
            let search = $("#query").val();

            window.location.href = "/search?search=" + search;
        });

    });
    
    window.onload = () => {

        // init AOS
        AOS.init({
            disable: function () {
                var maxWidth = 800;
                return window.innerWidth < maxWidth;
            },
            mirror: true
        });
    }

</script>

<div class="container mt-5 mb-1">
    <div class="mb-2">
        <%- include("../partials/flashes") -%>
    </div>
    <h1 class="text-center display-3">Welcome, <%= user.ign %></h1>
</div>

<div class="container my-3">
    <%- include("../partials/components/experienceBar") -%>
</div>

<%- include("../partials/components/iconBar") -%>

<div class="jumbotron container mt-2">

    <div class="row">

        <div class="col-12 col-lg-4">
            <a href="/train/Physics/chooseUnits"><img id="physics-icon" class="thumbnail mu-rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Physics_Main.svg" alt="Physics icon"></a>
        </div>

        <div class="col-12 col-lg-4">
            <a href="/train/Chemistry/chooseUnits"><img id="chem-icon" class="thumbnail mu-rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Chem_Main.svg" alt="Chem icon"></a>
        </div>

        <div class="col-12 col-lg-4">
            <a href="/train/Biology/chooseUnits"><img id="bio-icon" class="thumbnail mu-rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Bio_Main.svg" alt="Bio icon"></a>
        </div>

    </div>

    <div class="card text-center border-primary mt-4" id="description-card">

        <div class="card-body" id="default-card">
            <h5 class="card-title">Science with Mutorials</h5>
            <p class="card-text">Mutorials offers questions in the sciences of physics, chemistry, and biology! Click on a button to commence training in that subject!</p>
        </div>

        <div class="card-body" id="physics-card">
            <h5 class="card-title">Physics</h5>
            <p class="card-text">Physics is a branch of science concerned with matter and energy. Mutorials offers a wide variety of physics topics, from mechanics such as kinematics and forces to fields such as quantum mechanics!</p>
        </div>

        <div class="card-body" id="chem-card">
            <h5 class="card-title">Chemistry</h5>
            <p class="card-text">Chemistry is a branch of science dealing with the structure of and interaction between matter. Here at Mutorials, chemistry topics range from stoichiometry to organic chemistry and more!</p>
        </div>

        <div class="card-body" id="bio-card">
            <h5 class="card-title">Biology</h5>
            <p class="card-text">Biology is a branch of science about life. Mutorials doesn't answer the question "why are we alive", but by training with us, you can gain deeper comprehension about how we (and other organisms) live!</p>
        </div>

    </div>

</div>

<div class="container">
    <%- include("../partials/components/siteStats") -%>
</div>

<div class="container mt-4 d-block px-4 py-2 bg-secondary search-result">
    <div class="row">
        <div class="col-md-10">
            <input class="form-control form-control-lg my-2" type="text" placeholder="Search Mutorials" id="query">
        </div>
        <div class="col-md-2">
            <input class="btn btn-primary btn-lg btn-block my-2" value="Search" type="button" id="search">
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-lg-6">
            <%- include("../partials/components/dailySnippet") -%>
        </div>
        <div class="col-lg-6">
            <%- include("../partials/components/announcementSnippet") -%>
        </div>
    </div>
</div>

<%- include("../partials/footer") -%>
