<%# Root page upon signin %>
<%# ARGUMENTS: user - the user logged in right now %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPrivate") -%>

<script>

    $(document).ready(function() {

        $(".thumbnail").fadeTo(0, 0.8);
        $(".thumbnail").on({
            mouseenter: function() {
                $(this).fadeTo(200, 1);
            },
            mouseleave: function() {
                $(this).fadeTo(200, 0.8);
            }
        });

        // search button configure
        $("#search").click(function () {

            // free response text values
            let search = $("#query").val();

            window.location.href = "/search?search=" + search;
        });

        // render rating tracker chart

        let ratingData = {
            "Physics": [],
            "Chemistry": [],
            "Biology": [],
            "Labels": []
        }

        // DO NOT DELETE - ratingData is not defined if this is deleted
        console.log(ratingData);

        ["Physics", "Chemistry", "Biology"].forEach((subject) => {

            let tracker = $("#ratingTrackerArray-" + subject).val().split('@');
            if(tracker.length < 2) {
                tracker.unshift(tracker[0]);
            }
            ratingData[subject] = tracker;
        });

        const labelLength = Math.max(ratingData["Physics"].length, ratingData["Chemistry"].length, ratingData["Biology"].length);
        var labels = ratingData["Labels"];
        for(var i = labelLength; i > 0; i--) {
            labels.push(i + " Ago");
        }
        labels.push("");
        ratingData["Labels"] = labels;

        var ctxTracker = document.getElementById("ratingTrackerChart");

        var style = ctxTracker.style;
        style.marginLeft = "auto";
        style.marginRight = "auto";

        var myChart = new Chart(ctxTracker, {
            type: "line",
            data: {
                labels: ratingData["Labels"],
                datasets: [{
                    label: "Physics",
                    data: ratingData["Physics"],
                    backgroundColor: "rgba(100, 200, 230, 1)",
                    borderColor: "rgba(100, 200, 230, 1)",
                    fill: false,
                    borderWidth: 5
                }, {
                    label: "Chemistry",
                    data: ratingData["Chemistry"],
                    backgroundColor: "rgba(245, 170, 40, 1)",
                    borderColor: "rgba(245, 170, 40, 1)",
                    fill: false,
                    borderWidth: 5
                }, {
                    label: "Biology",
                    data: ratingData["Biology"],
                    backgroundColor: "rgba(40, 240, 110, 1)",
                    borderColor: "rgba(40, 240, 110, 1)",
                    fill: false,
                    borderWidth: 5
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Rating History"
                },
                legend: {
                    display: true,
                    position: "bottom"
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: Math.round((Math.min(Math.min.apply(null, ratingData["Physics"]), Math.min.apply(null, ratingData["Chemistry"]), Math.min.apply(null, ratingData["Biology"]))-50)/50)*50,
                            max: Math.round((Math.max(Math.max.apply(null, ratingData["Physics"]), Math.max.apply(null, ratingData["Chemistry"]), Math.max.apply(null, ratingData["Biology"]))+50)/50)*50,
                            stepSize: 50
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            display: false
                        }
                    }]
                },
                responsive: true
            }
        });

    });

    window.onload = () => {

        // init AOS
        AOS.init({
            disable: function () {
                var maxWidth = 800;
                return window.innerWidth < maxWidth;
            },
            mirror: true
        });
    }

</script>

<div class="container mt-5 mb-1">
    <div class="mb-2">
        <%- include("../partials/flashes") -%>
    </div>
    <h1 class="text-center display-3">Welcome, <%= user.ign %></h1>
</div>

<div class="container my-3">
    <%- include("../partials/components/experienceBar") -%>
</div>

<%- include("../partials/components/iconBar") -%>

<div class="jumbotron container mt-2">

    <div class="row">

        <div class="col-12 col-lg-5">

            <h1 class="display-5 text-center mt-4">Physics: <span class="badge rounded-pill bg-primary"><%= Math.max(user.rating.physics, 0) %></span></h1>
            <h1 class="display-5 text-center">Chemistry: <span class="badge rounded-pill bg-primary"><%= Math.max(user.rating.chemistry, 0) %></span></h1>
            <h1 class="display-5 text-center">Biology: <span class="badge rounded-pill bg-primary"><%= Math.max(user.rating.biology, 0) %></span></h1>

            <div class="canvas-container-center text-center mt-3">
                <canvas id="ratingTrackerChart" width="400" height="400" class="my-4"></canvas>
            </div>
            <input type="hidden" id="ratingTrackerArray-Physics" value="<%= user.stats.ratingTracker.physics.join('@') %>">
            <input type="hidden" id="ratingTrackerArray-Chemistry" value="<%= user.stats.ratingTracker.chemistry.join('@') %>">
            <input type="hidden" id="ratingTrackerArray-Biology" value="<%= user.stats.ratingTracker.biology.join('@') %>">
        </div>

        <div class="col-12 col-lg-7">

            <h1 class="text-center">Game Modes</h1>
            <div class="row">
                <div class="col-4">
                    <a href="/train/chooseSubject"><img id="classic-icon" class="thumbnail mu-rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Train_Classic.svg" alt="Classic icon"></a>
                </div>
                <div class="col-4">
                    <a href="/train/rush"><img id="rush-icon" class="thumbnail mu-rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Train_Rush.svg" alt="Rush icon" width="100%"></a>
                </div>
                <div class="col-4">
                    <a href="/train/daily"><img id="daily-icon" class="thumbnail mu-rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Train_Daily.svg" alt="Daily icon"></a>
                </div>
            </div>

            <h1 class="text-center mt-5">Classic Subjects</h1>
            <div class="row">
                <div class="col-4">
                    <a href="/train/Physics/chooseUnits"><img id="physics-icon" class="thumbnail mu-rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Physics_Main.svg" alt="Physics icon"></a>
                </div>
                <div class="col-4">
                    <a href="/train/Chemistry/chooseUnits"><img id="chem-icon" class="thumbnail mu-rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Chem_Main.svg" alt="Chem icon"></a>
                </div>
                <div class="col-4">
                    <a href="/train/Biology/chooseUnits"><img id="bio-icon" class="thumbnail mu-rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Bio_Main.svg" alt="Bio icon"></a>
                </div>
            </div>

            <a class="btn btn-primary w-100 btn-lg mt-5" href="/train">Train Now!</a>
        </div>

    </div>
</div>

<div class="container">
    <%- include("../partials/components/siteStats") -%>
</div>

<div class="container mt-4 d-block px-4 py-2 bg-light search-result">
    <div class="row">
        <div class="col-md-10">
            <input class="form-control form-control-lg my-2" type="text" placeholder="Search Mutorials" id="query">
        </div>
        <div class="col-md-2">
            <input class="btn btn-primary btn-lg w-100 my-2" value="Search" type="button" id="search">
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-lg-6">
            <%- include("../partials/components/dailySnippet") -%>
        </div>
        <div class="col-lg-6">
            <%- include("../partials/components/announcementSnippet") -%>
        </div>
    </div>
</div>
<footer class="text-center"><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#contact-modal">Contact us</button></footer>

<br><br>
<%- include ("../partials/contact") -%>
<%- include("../partials/footer") -%>
