<%# Search page for users %>
<%# ARGUMENTS: results - the results of the search, query - the last search %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPrivate") -%>

<h1 class="my-5 container display-2 text-center">Mutorials Search</h1>

<script>

	$(document).ready(function () {

		$("#submit").click(function () {
      // Now we have plaintext query, units, and tags
			let text = $("#text-query").val();
      let units = $('#units-query').val();
      let tags = $('#tags-query').val();
      window.location.href = `/search?text=${text}&units=${units}&tags=${tags}`;
		});
	});
</script>

<div class="jumbotron container">

    <div class="row">
        <div class="col-md-10">
            <label class="d-none" for="text-query">Text query</label>
            <input class="form-control form-control-lg my-2" type="text" placeholder="Search for questions, users, etc." id="text-query" value="<%= query.text %>">

            <label class="d-none" for="units-query">Units (optional)</label>
            <input class="form-control form-control-md my-2" type="text" placeholder="Units (optional)" id="units-query" value="<%= query.units %>">

            <label class="d-none" for="tags-query">Tags (optional)</label>
            <input class="form-control form-control-md my-2" type="text" placeholder="Tags (optional)" id="tags-query" value="<%= query.tags %>">
        </div>
        <div class="col-md-2">
            <input class="btn btn-primary btn-lg w-100 my-2" value="Search" type="button" id="submit">
        </div>
        <p>Enter units and tags as comma-separated lists.</p>
    </div>
    
    <% if (results.length > 0) { %>
        <h3 class="mb-0 mt-4"><%= results.length %> results</h3>
        <% results.forEach((result) => { %>
            <a href="
                <%= result.type == 'QUESTION' ? '/question/'+result.id : (result.type == 'USER' ? '/profile/'+result.id : '#') %>
            " target="_blank" style="text-decoration: none;">
                <div class="d-block px-4 py-3 bg-light my-2 search-result">
                    <h4><span class="badge bg-secondary"><%= result.type %></span> <%= result.title %></h4>
                    <p class="mb-0"><%= result.preview %></p>
                </div>
            </a>
        <% }); %>

    <% } else if(query != "") { %>
        <div class="my-2 alert alert-danger">No results found for <em><%= query %></em></div>
    <% } %>
    
</div>

<%- include("../partials/footer") -%>
