<!-- This is the settings page -->

<!-- ARGUMENTS:
    user - the user logged in right now -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<script>

    $(document).ready(function() {
        
        // configure unsaved changes alert
        $("#unsaved-alert").hide(0);
        
        var setUnsavedAlertFor = function(id) {
            $("#" + id).on("input", function() {
                $("#unsaved-alert").show(500);
                $("#" + id).css({ "border": '#FFA500 2px solid' });
            });
        }

        setUnsavedAlertFor("name");
        setUnsavedAlertFor("bio");
        setUnsavedAlertFor("location");
        setUnsavedAlertFor("age");
        setUnsavedAlertFor("ign");
        setUnsavedAlertFor("username");

    });

</script>

<h1 class="my-5 container">Settings</h1>

<div class="container" id="unsaved-alert">
    <div class="alert alert-danger" role="alert">Careful! You have unsaved changes!</div>
</div>

<form action="/changeInfo" method="POST">
    
    <!-- public profile tweaks -->
	<div class="jumbotron container">

        <h3 class="mb-4">Profile</h3>

		<div class="form-group row">
			<label for="name" class="col-sm-2 col-form-label">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="name" name="name" value="<%= user.profile.name %>" placeholder="Enter your name here">
			</div>
        </div>
        <div class="form-group row">
			<label for="Bio" class="col-sm-2 col-form-label">Bio</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="bio" name="bio" value="<%= user.profile.bio %>" placeholder="Introduce yourself!">
			</div>
		</div>
		<div class="form-group row">
			<label for="Location" class="col-sm-2 col-form-label">Location</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="location" name="location" value="<%= user.profile.location %>" placeholder="Where do you live?">
			</div>
		</div>
		<div class="form-group row">
			<label for="Age" class="col-sm-2 col-form-label">Age</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" id="age" name="age" value="<%= user.profile.age %>" placeholder="Enter your age here">
			</div>
        </div>
		
		<!--<button type="submit" class="btn btn-primary mt-4">Update Profile</button>-->

	</div>

    <!-- account tweaks -->
	<div class="jumbotron container">

		<h3 class="mb-4">Account</h3>
		
		<!-- edit this form too -->
			<div class="form-group row">
				<label for="Username" class="col-sm-2 col-form-label">Username</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="ign" disabled="disabled" name="ign" value="<%= user.ign %>" placeholder="Change your username">
				</div>
			</div>
			<div class="form-group row">
				<label for="Email" class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="username" disabled="disabled" name="username" value="<%= user.username %>" placeholder="Change your linked email">
				</div>
			</div>
			<div class="form-group row">
				<label for="Password" class="col-sm-2 col-form-label">Change Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="Password" placeholder="Current password">
				</div>
				<label for="NewPW" class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10 mt-1">
					<input type="password" class="form-control" id="newpw" placeholder="New password">
				</div>
				<label for="ConfirmPW" class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10 mt-1">
					<input type="password" class="form-control" id="password" name="password" placeholder="Confirm new password">
				</div>
			</div>
            
            <input class="btn btn-primary" type="submit" value="Update Account">
    </div>
    
</form>


<!-- logout button -->
<div class="container">
	<button type="button" class="btn btn-secondary mb-5" data-toggle="modal" data-target="#signoutModal">Log Out</button>
</div>

<div class="modal fade" id="signoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to log out?</h5>
            </div>
			<div class="modal-body">    
				<p>Your data has been saved :)</p>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="/logout"><button type="button" class="btn btn-primary" id="signoutConfirm">Yes</button></a>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") -%>