<!-- This is the page for displaying stats -->

<!-- ARGUMENTS:
    user - the user for which stats are being displayed
    totalTags - the complete list of all tags on the site -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<script>

    window.onload = function () {

        // render correct/wrong chart

        Chart.pluginService.register({
            beforeDraw: function (chart) {

                if(chart.config.options.correctwrong_plugin) {
                    
                    var width = chart.chart.width;
                    var height = chart.chart.height;
                    var ctx = chart.chart.ctx;

                    ctx.restore();

                    var fontSize = "1.5";
                    ctx.font = fontSize + "em sans-serif";

                    ctx.fillStyle = "#8d0f0f";
                    var text = "Wrong: <%= Math.round(100*(user.stats.wrong)/(user.stats.correct+user.stats.wrong)) %>%";
                    var textX = Math.round((width - ctx.measureText(text).width) / 2);
                    var textY = (height/2) + 25;
                    ctx.fillText(text, textX, textY);

                    ctx.fillStyle = "#208d0f";
                    text = "Correct: <%= Math.round(100*(user.stats.correct)/(user.stats.correct+user.stats.wrong)) %>%";
                    textX = Math.round((width - ctx.measureText(text).width) / 2);
                    textY -= 30;
                    ctx.fillText(text, textX, textY);

                    ctx.save();
                }
            }
        });

        var ctx_passrate = document.getElementById("correctWrongChart");

        var style = ctx_passrate.style;
        style.marginLeft = "auto";
        style.marginRight = "auto";

        var myChart = new Chart(ctx_passrate, {
            type: "pie",
            data: {
                labels: ["Correct", "Wrong"],
                datasets: [{
                    label: "User Correct/Wrong Counts",
                    data: [$("#correctcount").val(), $("#wrongcount").val()],
                    backgroundColor: [
                        "rgba(80, 185, 20, 1)",
                        "rgba(215, 80, 80, 1)"
                    ],
                    hoverBackgroundColor: [
                        "rgba(80, 185, 20, 1)",
                        "rgba(215, 80, 80, 1)"
                    ],
                    borderColor: [
                        "rgba(255, 255, 255, 0.5)",
                        "rgba(255, 255, 255, 0.5)"
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                correctwrong_plugin: true,
                title: {
                    display: true,
                    text: "User Correct/Wrong Counts"
                },
                legend: {
                    display: false
                },
                cutoutPercentage: 60,
                responsive: true
            }
        });

        // render rating tracker charts
        
        ["Physics", "Chemistry", "Biology"].forEach((subject) => {

            var ctx_tracker = document.getElementById("ratingTrackerChart-" + subject);

            var style = ctx_tracker.style;
            style.marginLeft = "auto";
            style.marginRight = "auto";

            var tracker = $("#ratingTrackerArray-" + subject).val().split('@');
            if(tracker.length < 2) {
                tracker.unshift(tracker[0]);
            }
            var labels = [];
            for(var i = tracker.length; i > 0; i--) {
                labels.push(i + " Ago");
            }
            labels.push("");
            var myChart = new Chart(ctx_tracker, {
                type: "line",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Rating History",
                        data: tracker,
                        backgroundColor: "rgba(100, 200, 230, 1)",
                        borderColor: "rgba(100, 200, 230, 1)",
                        fill: false,
                        borderWidth: 5
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: subject + " Rating Tracker"
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: Math.round((Math.min.apply(null, tracker)-50)/50)*50,
                                max: Math.round((Math.max.apply(null, tracker)+50)/50)*50,
                                stepSize: 50
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                display: false
                            }
                        }]
                    },
                    responsive: true
                }
            });

        });

    }

</script>

<h1 class="my-5 container display-2">Stats for <strong><%= user.ign %></strong></h1>

<div class="container jumbotron mt-5">

    <div class="row">

        <div class="col-7">

            <h3 class="display-4">Physics Rating: <font color="green"><%= user.rating.physics != -1 ? user.rating.physics : "Unrated" %></font></h3>

            <h5 class="mt-3">Collected Physics Tags:</h5>
            <% var counter = 0; %>
            <% user.stats.collectedTags.forEach((tag) => { %>
                <% counter++; %>
                <% if(Object.keys(totalTags["Physics"]["Units"]).includes(tag)) { %>
                    <button class="btn btn-primary btn-sm my-1" disabled><%= tag %></button>
                <% } else if(Object.keys(totalTags["Physics"]["Concepts"]).includes(tag)) { %>
                    <button class="btn btn-info btn-sm my-1" disabled><%= tag %></button>
                <% } else { %>
                    <% counter--; %>
                <% } %>
            <% }); %>
            
            <% if(counter == 0) { %>
                <p>None out of <%= Object.keys(totalTags["Physics"]["Units"]).length + Object.keys(totalTags["Physics"]["Concepts"]).length %> possible tags</p>
            <% } else { %>
                <p><%= counter %>/<%= Object.keys(totalTags["Physics"]["Units"]).length + Object.keys(totalTags["Physics"]["Concepts"]).length %> tags in this subject have been collected</p>
            <% } %>

        </div>

        <div class="col-5">

            <div class="canvas-container-center text-center">
                <canvas id="ratingTrackerChart-Physics" width="400" height="400" class="my-4"></canvas>            
            </div>
            <input type="hidden" id="ratingTrackerArray-Physics" value="<%= user.stats.ratingTracker.physics.join('@') %>">

        </div>

    </div>
</div>

<div class="container jumbotron">

    <div class="row">

        <div class="col-7">

            <h3 class="display-4">Chemistry Rating: <font color="green"><%= user.rating.chemistry != -1 ? user.rating.chemistry : "Unrated" %></font></h3>

            <h5 class="mt-3">Collected Chemistry Tags:</h5>
            <% var counter = 0; %>
            <% user.stats.collectedTags.forEach((tag) => { %>
                <% counter++; %>
                <% if(Object.keys(totalTags["Chemistry"]["Units"]).includes(tag)) { %>
                    <button class="btn btn-primary btn-sm my-1" disabled><%= tag %></button>
                <% } else if(Object.keys(totalTags["Chemistry"]["Concepts"]).includes(tag)) { %>
                    <button class="btn btn-info btn-sm my-1" disabled><%= tag %></button>
                <% } else { %>
                    <% counter--; %>
                <% } %>
            <% }); %>
            
            <% if(counter == 0) { %>
                <p>None out of <%= Object.keys(totalTags["Chemistry"]["Units"]).length + Object.keys(totalTags["Chemistry"]["Concepts"]).length %> possible tags</p>
            <% } else { %>
                <p><%= counter %>/<%= Object.keys(totalTags["Chemistry"]["Units"]).length + Object.keys(totalTags["Chemistry"]["Concepts"]).length %> tags in this subject have been collected</p>
            <% } %>

        </div>

        <div class="col-5">

            <div class="canvas-container-center text-center">
                <canvas id="ratingTrackerChart-Chemistry" width="400" height="400" class="my-4"></canvas>            
            </div>
            <input type="hidden" id="ratingTrackerArray-Chemistry" value="<%= user.stats.ratingTracker.chemistry.join('@') %>">

        </div>

    </div>

</div>

<div class="container jumbotron mb-5">

    <div class="row">

        <div class="col-7">

            <h3 class="display-4">Biology Rating: <font color="green"><%= user.rating.biology != -1 ? user.rating.biology : "Unrated" %></font></h3>

            <h5 class="mt-3">Collected Biology Tags:</h5>
            <% var counter = 0; %>
            <% user.stats.collectedTags.forEach((tag) => { %>
                <% counter++; %>
                <% if(Object.keys(totalTags["Biology"]["Units"]).includes(tag)) { %>
                    <button class="btn btn-primary btn-sm my-1" disabled><%= tag %></button>
                <% } else if(Object.keys(totalTags["Biology"]["Concepts"]).includes(tag)) { %>
                    <button class="btn btn-info btn-sm my-1" disabled><%= tag %></button>
                <% } else { %>
                    <% counter--; %>
                <% } %>
            <% }); %>
            
            <% if(counter == 0) { %>
                <p>None out of <%= Object.keys(totalTags["Biology"]["Units"]).length + Object.keys(totalTags["Biology"]["Concepts"]).length %> possible tags</p>
            <% } else { %>
                <p><%= counter %>/<%= Object.keys(totalTags["Biology"]["Units"]).length + Object.keys(totalTags["Biology"]["Concepts"]).length %> tags in this subject have been collected</p>
            <% } %>

        </div>

        <div class="col-5">

            <div class="canvas-container-center text-center">
                <canvas id="ratingTrackerChart-Biology" width="400" height="400" class="my-4"></canvas>            
            </div>
            <input type="hidden" id="ratingTrackerArray-Biology" value="<%= user.stats.ratingTracker.biology.join('@') %>">
            
        </div>

    </div>

</div>

<div class="container jumbotron my-5">

    <div class="row">

        <div class="col-3"></div>

        <div class="col-6">
            <!-- correct/wrong chart -->
            <div class="canvas-container-center text-center">
                <canvas id="correctWrongChart" width="400" height="400" class="my-4"></canvas>            
            </div>
            <input type="hidden" id="correctcount" value="<%= user.stats.correct %>">
            <input type="hidden" id="wrongcount" value="<%= user.stats.wrong %>">
        </div>

        <div class="col-3"></div>

    </div>

</div>

<%- include("../partials/footer") -%>