<!-- This is the page where answer explanations are displayed after finishing a question -->

<!-- ARGUMENTS:
    correct - a boolean saying whether or not the user got the question correct
    userRating - new user rating
    questionRating - new question rating
    source - string, where this question is from
    tags - array of tags in this question
    question - a string which is the question statement
    useranswer - what the user answered, array if select all
    answer - the answer to the question, array if select all
    choices - array of the choices of the question
    explanation - a string containing the answer explanation -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<div class="jumbotron container mt-5">

    <div class="mb-4">
        <% if(correct) { %>
            <h1 class="my-4"><font color="green">Your answer is correct!</font></h1>
        <% } else { %>
            <h1 class="my-4"><font color="red">Your answer is incorrect.</font></h1>
        <% } %>
    </div>

    <div class="mb-4">
        <h5>Your new rating is: <%= userRating %></h5>
        <h5>This question is rated: <%= questionRating %></h5>
    </div>

    <div class="mb-4">
        <h5>Question Source: <%= source %></h5>
    </div>

    <div>
        <h5>Question Tags:</h5>
        <% tags.forEach((tag) => { %>
            <button class="btn btn-info btn-sm" disabled><%= tag %></button>
        <% }) %>
    </div>
	
</div>

<div class="jumbotron container">

    <div class="mb-4">
        <h3>Question Statement:</h3>
        <p><%= question %></p>
    </div>

    <% if(type == "mc") { %>
        <div class="mb-4">
            <h5>Answer Choices:</h5>
            <% var i = 1; %>
            <% choices.forEach((choice) => { %>
                <% if(answer == i) { %>
                    <p><font color="green"><%= choice %></font></p>
                <% } else if(useranswer == i) { %>
                    <p><font color="red"><%= choice %></font></p>
                <% } else { %>
                    <p><%= choice %></p>
                <% } %>
                <% i++; %>
            <% }) %>
        </div>
    <% } else if(type == "sa") { %>
        <div class="mb-4">
            <h5>Answer Choices:</h5>
            <% var i = 1; %>
            <% choices.forEach((choice) => { %>
                <% if(answer.includes(i)) { %>
                    <p><font color="green"><%= choice %></font></p>
                <% } else if(useranswer.includes(i)) { %>
                    <p><font color="red"><%= choice %></font></p>
                <% } else { %>
                    <p><%= choice %></p>
                <% } %>
                <% i++; %>
            <% }) %>
        </div>
    <% } else if(type == "fr") { %>
        <div class="mb-4">
            <h5>You answered: <%= useranswer %></h5>
            <h5>The correct answer is: <%= answer %></h5>
        </div>
    <% } %>

    <div>
        <h3>Answer Explanation:</h3>
        <p><%= explanation %></p>
    </div>

</div>

<!-- REMEMBER TO ADD HREF FOR SECOND BUTTON -->
<div class = "container mb-5">
    <a href="/train"><button type="button" class="btn btn-secondary" id="exit">Exit</button></a>
    <a href=""><button type="button" class="btn btn-primary" id="tryanother">Try Another Question</button></a>
</div>

<%- include("../partials/footer") -%>