<!-- This is the page on which you choose the units you want to train on -->

<!-- ARGUMENTS:
    units - a list of units to train on
    subject - the subject
    unitPresets - an object of the unit present options
    qNum -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<script>

    $(document).ready(function () {

        // show "no units selected" message when submit button is clicked and no unit is seleted
        $("#no-units-selected").hide(0);

        $("#next").click(function () {
            
            selection = "";
            var choices = document.querySelectorAll('#checkboxes input[type="checkbox"]');
            
            console.log(choices);
            for(let i = 0; i < choices.length; i++) {
                if(choices[i].checked) {
                    selection = choices[i].id;
                }
            }

            if(selection == "") {
                $("#no-units-selected").show(1000);
            }
        });

        // make select and deselect all buttons work
        $("#select-all").click(function() {
            document.getElementsByName("unitChoice").forEach((checkbox) => {
                if(checkbox.type == "checkbox") {
                    checkbox.checked = true;
                }
            });
        });
        $("#deselect-all").click(function() {
            document.getElementsByName("unitChoice").forEach((checkbox) => {
                if(checkbox.type == "checkbox") {
                    checkbox.checked = false;
                }
            });
        });

        // make unit clustering buttons work
        var unitPresets = JSON.parse($("#stringifiedUnits").val());
        Object.keys(unitPresets).forEach((preset) => {
            $("#"+preset.replace(/\s+/g, '')).click(function() {
                // deselect all
                document.getElementsByName("unitChoice").forEach((checkbox) => {
                    if(checkbox.type == "checkbox") {
                        checkbox.checked = false;
                    }
                });
                // select all matching units
                unitPresets[preset].forEach((unit) => {
                    document.getElementById(unit).checked = true;
                });
            });
        });


    });

</script>

<div class="jumbotron container mt-5">
    
    <h1 class="display-2 text-center mb-5"><%= subject %></h1>

    <div class="row">
        
        <div class="col-1"></div>

        <div class="col-6">

            <h3 class="mb-2">Select units to train in:</h3>

            <form action="/selQ" method="POST">

                <div id="checkboxes">
                    <% units.forEach((unit) => { %>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input type="checkbox" name="unitChoice" class="custom-control-input" id="<%= unit %>" value="<%= subject %> - <%= unit %>">
                            <label class="custom-control-label" for="<%= unit %>"><%= unit %></label>
                        </div>
                    <% }) %>
                </div>

                <div class="mt-4">
                    <a href="/train/choose_subject"><button type="button" class="btn btn-secondary" id="previous">Previous</button></a>
                    <input type="submit" class="btn btn-primary" id="next" value="Next">
                </div>

                <input type="hidden" name="qNum" value="<%= qNum %>">
                <input type="hidden" name="subj" value="<%= subject %>">

            </form>

        </div>

            <div class="col-4">

                <h3 class="mb-2">Quick Select</h3>

                <button type="button" class="btn btn-warning btn-block" id="select-all"><font color="white">Select All</font></button>
                <button type="button" class="btn btn-warning btn-block" id="deselect-all"><font color="white">Deselect All</font></button>

                <% if(Object.entries(unitPresets).length > 0) { %>
                    <% Object.entries(unitPresets).forEach((preset) => { %>
                        <button type="button" class="btn btn-info btn-block" id="<%= preset[0].replace(/\s+/g, '') %>"><%= preset[0] %></button>
                    <% }); %>
                <% } %>

                <input type="hidden" id="stringifiedUnits" value="<%= JSON.stringify(unitPresets) %>">

            </div>

    </div>

    <div class="col-1"></div>

    <h4 class="my-4" id="no-units-selected"><font color="red">You haven't selected any units yet!</font></h4>

</div>

<%- include("../partials/footer") -%>
