<!-- This is the page where you set your rating when starting a new subject -->

<!-- ARGUMENTS:
    subject - a string with the name of the subject you want to train in -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<div class="jumbotron container mt-5">
    
		<h3>What is your estimated proficiency level in <%= subject %>?</h3>
	<form action="/private/initialRating" method="POST">	
		<input class="btn btn-primary" type="submit" value="Beginner">
		<input type="hidden" name="subject" value="<%=subject%>">
		<input type="hidden" name="level" value="500">
	</form>
	<form action="/private/initialRating" method="POST">	
		<input class="btn btn-primary" type="submit" value="Intermediate">
		<input type="hidden" name="subject" value="<%=subject%>">
		<input type="hidden" name="level" value="1000">
	</form>
	<form action="/private/initialRating" method="POST">	
		<input class="btn btn-primary" type="submit" value="Advanced">
		<input type="hidden" name="subject" value="<%=subject%>">
		<input type="hidden" name="level" value="1500">
	</form>
		<h3 class="mt-4">What do these levels mean?</h3>
		<h6>Beginner:</h6>
		<p>Equivalent to starters, or those who take courses on a middle school level</p>
		<h6>Intermediate:</h6>
		<p>Equivalent to those who take Honors program courses or in general, courses on a high school level</p>
		<h6>Advanced:</h6>
		<p>Equivalent to students enrolled in an AP level course or above</p>
</div>
    
<%- include("../partials/footer") -%>