<!-- This is the page where answer explanations are displayed after finishing a question -->

<!-- ARGUMENTS:
    correct - a boolean saying whether or not the user got the question correct
    question - a string which is the question statement
    explanation - a string containing the answer explanation
    userRating - new user rating
    questionRating - new question rating -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<div class="jumbotron container mt-5">

    <div class="mb-4">
        <% if(correct) { %>
            <h1 class="my-4"><font color="green">Your answer is correct!</font></h1>
        <% } else { %>
            <h1 class="my-4"><font color="red">Your answer is incorrect.</font></h1>
        <% } %>

        <h5>Your new rating is: <%= userRating %></h5>
		<h5>This question is rated: <%= questionRating %></h5>
    </div>

    <h3>Question Statement:</h3>
	<p class="mb-4"><%= question %></p>

	<h3>Answer & Explanation:</h3>
	<p class="mb-4"><%= explanation %></p>
	
	<div class = "mt-4">
        <button type="button" class="btn btn-primary" id="next">Continue</button>
    </div>
</div>

<%- include("../partials/footer") -%>