<!-- This is the page where you set your rating when starting a new subject -->

<!-- ARGUMENTS:
    subject - a string with the name of the subject you want to train in -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>
<!--
<div class="container-md">
    <br>
	<h3 style="text-align: center;">What is your estimated proficiency level in <%= subject %>?</h3>
	<br>
	<form action="/private/initialRating" method="POST">	
		<input class="btn btn-outline-primary btn-lg" type="submit" value="Beginner">
		<input type="hidden" name="subject" value="<%=subject%>">
		<input type="hidden" name="level" value="500">
	</form>
	<br>
	<form action="/private/initialRating" method="POST">	
		<input class="btn btn-outline-primary btn-lg" type="submit" value="Intermediate">
		<input type="hidden" name="subject" value="<%=subject%>">
		<input type="hidden" name="level" value="1000">
	</form>
	<br>
	<form action="/private/initialRating" method="POST">	
		<input class="btn btn-outline-primary btn-lg" type="submit" value="Advanced">
		<input type="hidden" name="subject" value="<%=subject%>">
		<input type="hidden" name="level" value="1500">
	</form>
	<h3 class="mt-4">What do these levels mean?</h3>
	<h6>Beginner:</h6>
	<p>Equivalent to starters, or those who take courses on a middle school level</p>
	<h6>Intermediate:</h6>
	<p>Equivalent to those who take Honors program courses or in general, courses on a high school level</p>
	<h6>Advanced:</h6>
	<p>Equivalent to students enrolled in an AP level course or above</p>
</div>
-->


<script>

    $(document).ready(function() {

        $(".thumbnail").fadeTo(0, 0.8);
        $(".thumbnail").on({
            mouseenter: function() {
                $(this).fadeTo(200, 1);
            },
            mouseleave: function() {
                $(this).fadeTo(200, 0.8);
                /*$("#default-card").show(0);
                $("#physics-card").hide(0);
                $("#chem-card").hide(0);
                $("#bio-card").hide(0);*/
            }
        });

        $("#Beginner-Card").hide(0);
        $("#Intermediate-Card").hide(0);
        $("#Advanced-Card").hide(0);
        $("#Beginner").mouseenter(function() {
            $("#default-card").hide(0);
            $("#Beginner-Card").show(0);
            $("#Intermediate-Card").hide(0);
            $("#Advanced-Card").hide(0);
        });
        $("#Intermediate").mouseenter(function() {
            $("#default-card").hide(0);
            $("#Beginner-Card").hide(0);
            $("#Intermediate-Card").show(0);
            $("#Advanced-Card").hide(0);
        });
        $("#Advanced").mouseenter(function() {
            $("#default-card").hide(0);
            $("#Beginner-Card").hide(0);
            $("#Intermediate-Card").hide(0);
            $("#Advanced-Card").show(0);
        });

    });

</script>

<h1 class="my-5 container text-center display-2">Welcome to Mutorials!</h1>

<div class="jumbotron container">

    <%- include("../partials/flashes") -%>

    <div class="row">
		<form action="/private/initialRating" method="POST">
			<div class="col-4">	
				<input type="image" class="thumbnail rounded" alt="Beginner" src="..." id="Beginner">
				<input type="hidden" name="subject" value="<%=subject%>">
				<input type="hidden" name="level" value="500">
			</div>
		</form>
		<br>
		<form action="/private/initialRating" method="POST">
			<div class="col-4">		
				<input type="image" class="thumbnail rounded" alt="Intermediate" src="..." id="Intermediate">
				<input type="hidden" name="subject" value="<%=subject%>">
				<input type="hidden" name="level" value="1300">
			</div>
		</form>
		<br>
		<form action="/private/initialRating" method="POST">
			<div class="col-4">	
				<input type="image" class="thumbnail rounded" alt="Advanced" src="..." id="Advanced">
				<input type="hidden" name="subject" value="<%=subject%>">
				<input type="hidden" name="level" value="2100">
			</div>
		</form>
	<!--
        <div class="col-4">
            <a href="/train/Physics/choose_units"><img id="physics-icon" class="thumbnail rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Physics_Main.svg" alt="Physics icon"></a>
        </div>

        <div class="col-4">
            <a href="/train/Chemistry/choose_units"><img id="chem-icon" class="thumbnail rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Chem_Main.svg" alt="Physics icon"></a>
        </div>

        <div class="col-4">
            <a href="/train/Biology/choose_units"><img id="bio-icon" class="thumbnail rounded" src="https://f000.backblazeb2.com/file/mutorials/icons/Bio_Main.svg" alt="Physics icon"></a>
        </div>
	-->
    </div>

    <div class="card text-center border-primary mt-4" id="description-card">

        <div class="card-body" id="default-card">
            <h5 class="card-title">Proficiency</h5>
            <p class="card-text">Select your current skill level at <%=subject%> to set your initial rating.</p>
        </div>

        <div class="card-body" id="Beginner-Card">
            <h5 class="card-title">Beginner</h5>
            <p class="card-text">Equivalent to starters, or those who take courses on a middle school level. Questions here are mostly conceptual.</p>
        </div>

        <div class="card-body" id="Intermediate-Card">
            <h5 class="card-title">Intermediate</h5>
            <p class="card-text">Equivalent to those who take Honors program courses or in general, courses on a high school level. Questions here may involve simple math.</p>
        </div>

        <div class="card-body" id="Advanced-Card">
            <h5 class="card-title">Advanced</h5>
            <p class="card-text">Equivalent to students enrolled in an AP level course or above. Get ready to use your brain!</p>
        </div>

    </div>

</div>

<%- include("../partials/footer") -%>
