<!-- This is the page where answer explanations are displayed after finishing a question -->

<!-- ARGUMENTS:
    correct - a boolean saying whether or not the user got the question correct
    userRating - new user rating
    oldUserRating - old user rating (to calculate delta)
    oldQ - old question rating (for consistency)
    userAnswer - what the user answered, array if select all
    subject - the subject of the question
    units - the units the question belongs to
    newQues - a question object with attributes of rating, ext_source, tags, question, answer, choices, answer_ex
        Note some attributes are arrays -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<script>

    // render pass/fail chart
    window.onload = function () {

        var ctx = document.getElementById("passRateChart");

        var style = ctx.style;
        style.marginLeft = "auto";
        style.marginRight = "auto";

        var myChart = new Chart(ctx, {
            type: "pie",
            data: {
                labels: ["Pass", "Fail"],
                datasets: [{
                    label: "Problem Pass/Fail Rates",
                    data: [$("#passcount").val(), $("#failcount").val()],
                    backgroundColor: [
                        "rgba(0, 255, 0, 1)",
                        "rgba(255, 0, 0, 1)"
                    ],
                    borderColor: [
                        "rgba(255, 255, 255, 1)",
                        "rgba(255, 255, 255, 1)"
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                cutoutPercentage: 30,
                responsive: false
            }
        });
    }

    // configure report button
    $(document).ready(function () {

        // hide report dialogue code
        $("#initial-report-container").show();
        $("#report-container").hide();

        // report button popup
        $("#report").click(function () {
            $("#report-container").show(1000);
            $("#initial-report-container").hide(1000);
        });
        $("#cancel-report").click(function () {
            $("#initial-report-container").show(1000);
            $("#report-container").hide(1000);
        });

    });

</script>

<div class="jumbotron container mt-5">

    <div class="mb-4">
        <% if(correct) { %>
        <h1 class="my-4">
            <font color="green">Your answer is correct!</font>
        </h1>
        <% } else { %>
        <h1 class="my-4">
            <font color="red">Your answer is incorrect.</font>
        </h1>
        <% } %>
    </div>

    <div class="mb-4">
        <h5>Your new rating is: <%= userRating %>
            (<%= (userRating-oldUserRating >= 0) ? "+"+(userRating-oldUserRating) : (userRating-oldUserRating) %>)</h5>
        <h5>This question is rated: <%= oldQ %></h5>
    </div>

    <div class="mb-4">
        <h5>Question Source: <%= newQues.ext_source %></h5>
    </div>

    <div>
        <h5>Question Tags:</h5>
        <% newQues.tags.forEach((tag) => { %>
        <button class="btn btn-info btn-sm" disabled><%= tag %></button>
        <% }) %>
    </div>

</div>

<div class="jumbotron container">

    <!-- Report question buttons -->
    <div class="mb-5">
        <div id="initial-report-container">
            <button type="button" class="btn btn-danger btn-sm float-right" id="report">Report Question</button>
        </div>
        <div id="report-container">
            <h3>Report this question:</h3>
            <p>The ID of this question is <font color="red"><%= newQues._id %></font></p>
            <textarea class="form-control mb-2" id="report-question-text" rows="3" placeholder="Explain what is wrong with this question (ambiguity, inaccuracy, botched formatting, etc.)"></textarea>
            <button type="button" class="btn btn-secondary" id="cancel-report">Cancel</button>
            <button type="button" class="btn btn-primary" id="submit-report">Submit</button>
            <p>DISCLAIMER: This form does NOT work currently; for now, please simply give an admin the question ID</p>
        </div>
    </div>

    <!-- Question and explanation -->
    <div class="mb-4">
        <h3>Question Statement:</h3>
        <p><%= newQues.question %></p>
    </div>

    <% if(newQues.type == "mc") { %>
    <div class="mb-4">
        <h5>Answer Choices:</h5>
        <% var i = 1; %>
        <% newQues.choices.forEach((choice) => { %>
        <% if(newQues.answer[0] == i) { %>
        <p>
            <font color="green"><%= String.fromCharCode(64+i) %>. <%= choice %></font>
        </p>
        <% } else if(userAnswer == i) { %>
        <p>
            <font color="red"><%= String.fromCharCode(64+i) %>. <%= choice %></font>
        </p>
        <% } else { %>
        <p><%= String.fromCharCode(64+i) %>. <%= choice %></p>
        <% } %>
        <% i++; %>
        <% }) %>
    </div>
    <% } else if(newQues.type == "sa") { %>
    <div class="mb-4">
        <h5>Answer Choices:</h5>
        <% var i = 1; %>
        <% newQues.choices.forEach((choice) => { %>
        <% if(newQues.answer.includes(i)) { %>
        <p>
            <font color="green"><%= String.fromCharCode(64+i) %>. <%= choice %></font>
        </p>
        <% } else if(userAnswer.includes(''+i)) { %>
        <p>
            <font color="red"><%= String.fromCharCode(64+i) %>. <%= choice %></font>
        </p>
        <% } else { %>
        <p><%= String.fromCharCode(64+i) %>. <%= choice %></p>
        <% } %>
        <% i++; %>
        <% }) %>
    </div>
    <% } else if(newQues.type == "fr") { %>
    <div class="mb-4">
        <h5>You answered: <%= userAnswer %></h5>
        <h5>The correct answer is: <%= newQues.answer[0] %></h5>
    </div>
    <% } %>

    <div>
        <h3>Answer Explanation:</h3>
        <p><%= newQues.answer_ex %></p>
    </div>

</div>

<div class="jumbotron container">

    <!-- pass rate chart -->
    <div class="canvas-container-center text-center">

        <h3>Question Pass/Fail Statistics</h3>

        <canvas id="passRateChart" width="400" height="400" class="my-4"></canvas>

        <p>Pass Rate: <%= Math.round(100*(newQues.stats.pass)/(newQues.stats.pass+newQues.stats.fail)) %>%</p>
        <p>Fail Rate: <%= Math.round(100*(newQues.stats.fail)/(newQues.stats.pass+newQues.stats.fail)) %>%</p>
    </div>

    <!-- Hidden pass/fail stats -->
    <input type="hidden" id="passcount" value="<%= newQues.stats.pass %>">
    <input type="hidden" id="failcount" value="<%= newQues.stats.fail %>">

</div>

<div class="container mb-5">
    <a href="/train"><button type="button" class="btn btn-secondary" id="exit">Exit</button></a>
    <a href="/train/<%= subject %>/display_question?units=<%=units%>"><button type="button" class="btn btn-primary"
            id="tryanother">Try Another Question</button></a>
</div>

<%- include("../partials/footer") -%>