<!-- This is the page where answer explanations are displayed after finishing a question -->

<!-- ARGUMENTS:
    correct - a boolean saying whether or not the user got the question correct
    userRating - new user rating
    userAnswer - what the user answered, array if select all

    newQues - a question object with attributes of rating, ext_source, tags, question, answer, choices, answer_ex
        Note some attributes are arrays -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<div class="jumbotron container mt-5">

    <div class="mb-4">
        <% if(correct) { %>
            <h1 class="my-4"><font color="green">Your answer is correct!</font></h1>
        <% } else { %>
            <h1 class="my-4"><font color="red">Your answer is incorrect.</font></h1>
        <% } %>
    </div>

    <div class="mb-4">
        <h5>Your new rating is: <%= userRating %></h5>
        <h5>This question is rated: <%= newQues.rating %></h5>
    </div>

    <div class="mb-4">
        <h5>Question Source: <%= newQues.ext_source %></h5>
    </div>

    <div>
        <h5>Question Tags:</h5>
        <% newQues.tags.forEach((tag) => { %>
            <button class="btn btn-info btn-sm" disabled><%= tag %></button>
        <% }) %>
    </div>
	
</div>

<div class="jumbotron container">

    <div class="mb-4">
        <h3>Question Statement:</h3>
        <p><%= newQues.question %></p>
    </div>

    <% if(newQues.type == "mc") { %>
        <div class="mb-4">
            <h5>Answer Choices:</h5>
            <% var i = 1; %>
            <% newQues.choices.forEach((choice) => { %>
                <% if(newQues.answer[0] == i) { %>
                    <p><font color="green"><%= choice %></font></p>
                <% } else if(userAnswer == i) { %>
                    <p><font color="red"><%= choice %></font></p>
                <% } else { %>
                    <p><%= choice %></p>
                <% } %>
                <% i++; %>
            <% }) %>
        </div>
    <% } else if(newQues.type == "sa") { %>
        <div class="mb-4">
            <h5>Answer Choices:</h5>
            <% var i = 1; %>
            <% newQues.choices.forEach((choice) => { %>
                <% if(newQues.answer.includes(i)) { %>
                    <p><font color="green"><%= choice %></font></p>
                <% } else if(userAnswer.includes(i)) { %>
                    <p><font color="red"><%= choice %></font></p>
                <% } else { %>
                    <p><%= choice %></p>
                <% } %>
                <% i++; %>
            <% }) %>
        </div>
    <% } else if(newQues.type == "fr") { %>
        <div class="mb-4">
            <h5>You answered: <%= userAnswer %></h5>
            <h5>The correct answer is: <%= newQues.answer[0] %></h5>
        </div>
    <% } %>

    <div>
        <h3>Answer Explanation:</h3>
        <p><%= newQues.answer_ex %></p>
    </div>

</div>

<!-- REMEMBER TO ADD HREF FOR SECOND BUTTON -->
<div class = "container mb-5">
    <a href="/train"><button type="button" class="btn btn-secondary" id="exit">Exit</button></a>
    <a href="/train/<%= subject %>/display_question"><button type="button" class="btn btn-primary" id="tryanother">Try Another Question</button></a>
</div>

<%- include("../partials/footer") -%>