<%# Create class page %>
<%# ARGUMENTS: user's name %>

<%- include("../../partials/header") -%>
<%- include("../../partials/navigationPrivate") -%>

<div class="container mt-5 mb-1">
  <div class="mb-2">
    <%- include("../../partials/flashes") -%>
  </div>
  <h1 class="text-center display-3">Create a class</h1>
</div>

<div class="jumbotron container">
  <form method="post" action="/class/createClass">
    <div><input class="form-control form-control-lg my-2" type="text" name="school" placeholder="Enter your school name, e.g. Mutorials High School"></div>
    <div><input class="form-control form-control-lg my-2" type="text" name="city" placeholder="Enter your city, e.g. Bellevue WA"></div>
    <div><input class="form-control form-control-lg my-2" type="text" name="name" placeholder="Enter your class name, e.g. AP Physics 2"></div>
    <div><input class="form-control form-control-lg my-2" type="text" value="<%=name%>" disabled></div>
    <div><input class="btn btn-primary btn-lg w-100" type="submit" value="Create class"></div>
  </form>
</div>

<%- include("../../partials/footer") -%>
