<%# class details page %>
<%# ARGUMENTS: currentClass, students, physicsAvg, chemistryAvg, biologyAvg %>

<%- include("../../partials/header") -%>
<%- include("../../partials/navigationPrivate") -%>

<div class="container mt-5 mb-1">
    <div class="mb-2">
        <%- include("../../partials/flashes") -%>
    </div>
    <h1 class="text-center display-3"><%= currentClass.name %></h1>
    <h4 class="text-center">Class code: <%= currentClass.classCode %><h4>
    <span class="text-center">Give this to your students and tell them to go to <a href="https://www.mutorials.org/class/join">https://www.mutorials.org/class/join</a> to join your class!</span>
</div>

<div class="jumbotron container">
    <h1>Analytics</h1>
    <h2>Average Physics Rating: <%= physicsAvg %></h2>
    <h2>Average Chemistry Rating: <%= chemistryAvg %></h2>
    <h2>Average Biology Rating: <%= biologyAvg %></h2>
</div>

<div class="jumbotron container">
    <h1>Student Stats</h1>
    <% students.forEach((student, studentIndex) => { %>
        <a href="/stats/<%= student.ign %>"><%= student.profile.name %>'s stats</a><br>
    <% }) %>
</div>

<%- include("../../partials/footer") -%>

