<%# Join class page %>
<%# ARGUMENTS: teachingClasses %>

<%- include("../../partials/header") -%>
<%- include("../../partials/navigationPrivate") -%>

<div class="container mt-5 mb-1">
    <div class="mb-2">
        <%- include("../../partials/flashes") -%>
    </div>
    <h1 class="text-center display-3">Manage classes</h1>
</div>

<div class="jumbotron container">
    <% teachingClasses.forEach((classI, classIndex) => { %>
        <h4><%= classI.city %></h4>
    <% }) %>
</div>

<%- include("../../partials/footer") -%>

