<%# Page for editing flashcards %>
<%# ARGUMENTS: set - an object with the flashcard set %>

<%- include("../../partials/header") -%>
<%- include("../../partials/navigationPrivate") -%>

<script>
    // jquery here
</script>

<h2 class="display-3 text-center mt-5 mb-4">Edit Flashcard Set</h2>

<div class="container">
    
    <div class="jumbotron my-3">

        <h2 class="mb-2">Set Name</h2>
        <input type="text" class="form-control" id="name" value="<%= set.name %>" placeholder="Title this study set">

        <h2 class="mt-4 mb-2">Tags</h2>
        <div id="tags">
            <div class="row">
                <% index = 1; %>
                <% set.tags.forEach((tag) => { %>
                    <div class="col-12 col-lg-6">
                        <input type="text" class="form-control" id="<%= 'tag' + index %>" value="<%= tag %>" placeholder="<%= 'Tag ' + index %>">
                    </div>
                <% }); %>
                <% while(index <= 20) { %>
                    <div class="col-12 col-lg-6">
                        <input type="text" class="form-control" id="<%= 'tag' + index %>" value="" placeholder="<%= 'Tag ' + index %>">
                    </div>
                <% } %>
            </div>

        </div>
    </div>

    <div class="jumbotron my-3">

        <h2 class="mb-2">Cards</h2>
        <div id="cards">
            <% set.cards.forEach((card) => { %>
                
            <% }); %>
        </div>
    </div>

    <div class="container mt-4 mb-5">
        <input class="btn btn-primary" type="submit" value="Save">
        <a href="/study" class="btn btn-secondary" type="button">Discard</a>
    </div>
</form>

<%- include("../../partials/footer") -%>
