<%# Page to select units for training %>
<%# ARGUMENTS: units - list of units to train on, subject - the subject, unitPresets - object of unit presets, qNum - weird ID number %>

<%- include("../../partials/header") -%>
<%- include("../../partials/navigationPrivate") -%>

<script>

    $(document).ready(function () {

        // TEMPORARY: hide unused units on frontend (physics only right now)
        if("<%= subject %>" == "Physics") {
            var toHide = ["Electric Forces and Fields",
                    "Electrical Energy and Capacitance",
                    "DC Circuits",
                    "AC Circuits",
                    "Magnetism",
                    "Inductance",
                    "Electrostatics",
                    "Thermodynamics",
                    "Vibrations and Waves",
                    "Reflection and Refraction",
                    "Mirrors and Lenses",
                    "Wave Optics",
                    "Relativity",
                    "Quantum Physics",
                    "Nuclear Energy and Elementary Particles"];
            toHide.forEach((element) => {
                console.log("Now hidden: " + element);
                document.getElementById("DIV " + element).style.display = "none";
            });
        }

        // make select and deselect all buttons work
        $("#select-all").click(function() {
            document.getElementsByName("unitChoice").forEach((checkbox) => {
                if(checkbox.type == "checkbox") {
                    checkbox.checked = true;
                }
            });
        });
        $("#deselect-all").click(function() {
            document.getElementsByName("unitChoice").forEach((checkbox) => {
                if(checkbox.type == "checkbox") {
                    checkbox.checked = false;
                }
            });
        });

        // make unit clustering buttons work
        var unitPresets = JSON.parse($("#stringifiedUnits").val());
        Object.keys(unitPresets).forEach((preset) => {
            $("#"+preset.replace(/\s+/g, '')).click(function() {

                document.getElementsByName("unitChoice").forEach((checkbox) => {
                    if(checkbox.type == "checkbox") {
                        checkbox.checked = false;
                    }
                });

                unitPresets[preset].forEach((unit) => {
                    document.getElementById(unit).checked = true;
                });
            });
        });

    });

</script>

<div class="jumbotron container mt-5">
    <%- include ("../../partials/flashes") -%>
    <h1 class="display-2 text-center"><%= subject %></h1>

    <div class="row">
        <div class="col-lg-1"></div>

        <div class="col-12 col-lg-6 mt-5">

            <h3 class="mb-2">Select units to train in:</h3>

            <form action="/selQ" method="POST">

                <div id="checkboxes">
                    <% units.forEach((unit) => { %>
                        <div class="form-check my-1 me-sm-2" id="DIV <%= unit %>">
                            <input type="checkbox" name="unitChoice" class="form-check-input" id="<%= unit %>" value="<%= subject %> - <%= unit %>">
                            <label class="form-check-label" for="<%= unit %>"><%= unit %></label>
                        </div>
                    <% }) %>
                </div>

                <div class="mt-4">
                    <a href="/train/chooseSubject"><button type="button" class="btn btn-secondary" id="previous">Previous</button></a>
                    <input type="submit" class="btn btn-primary" id="next" value="Next">
                </div>

                <input type="hidden" name="qNum" value="<%= qNum %>">
                <input type="hidden" name="subj" value="<%= subject %>">

            </form>

        </div>

        <div class="col-12 col-lg-4 mt-5">

            <h3 class="mb-2">Quick Select</h3>

            <button type="button" class="btn my-1 btn-warning w-100" id="select-all"><font color="white">Select All</font></button>
            <button type="button" class="btn my-1 btn-warning w-100" id="deselect-all"><font color="white">Deselect All</font></button>

            <% if(Object.entries(unitPresets).length > 0) { %>
                <% Object.entries(unitPresets).forEach((preset) => { %>
                    <button type="button" class="btn my-1 btn-info w-100" id="<%= preset[0].replace(/\s+/g, '') %>"><%= preset[0] %></button>
                <% }); %>
            <% } %>

            <input type="hidden" id="stringifiedUnits" value="<%= JSON.stringify(unitPresets) %>">

        </div>

    </div>

    <div class="col-lg-1"></div>

</div>

<%- include("../../partials/footer") -%>
