<!-- This is the page users are routed to when they forget their password upon signin -->

<!-- ARGUMENTS:
    email - the email of the user -->

<%- include("../partials/header") -%>

<% var messages = getMessages() %>

<div class="jumbotron container my-5">
    <%- include ("../partials/flashes") -%>
	<h3 class="mb-3">A confirmation code has been sent to <%= messages.forgot_pass_user[0] %></h3>

	<form action="/forgot_password_check" method="post">
        <input class="form-control my-1" type="text" placeholder="" name="username" id="username" type="hidden" style="text" value="<%= messages.forgot_pass_user[0] %>">
		<input class="form-control my-1" type="text" placeholder="Confirmation Code" name="entered_code" id="entered_code" style="text">
		<input type="password" class="form-control my-1" id="newpw" name="newpw" placeholder="New Password">
		<input type="password" class="form-control my-1" id="confirmnewpw" name="confirmnewpw" placeholder="Confirm New Password">

		<input type="submit" class="btn btn-primary mt-3" id="ChangePW" value="Change password">
	</form>
</div>

<%- include("../partials/footer") -%>
