<%# Code for landing page %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPublic") -%>

<%- include("../partials/components/iconBar") -%>

<%# Jumbotron and contents inside %>

<div class="container mt-5">

    <%- include("../partials/flashes") -%>

    <h1 class="text-center display-2">This is Mutorials</h1>
    <h5 class="text-center">Mutorials is a free, adaptive science trainer suited to individual needs.<br>We strive to keep students motivated, and to make them academically excellent.</h5>
</div>

<div class="container mt-5">

    <div class="jumbotron">

        <div class="row">

            <div class="col-8">
                <img class="d-block w-100 rounded" src="https://f000.backblazeb2.com/file/mutorials/graphics/Carousel_Physics.png" alt="Physics">
            </div>

            <div class="col-4">
                <h1 class="text-center">Physics</h1>
            </div>
        </div>
       
    </div>

    <div class="my-4 container">

        <div class="row">

            <div class="col-4">
                <h1 class="text-center">Chemistry</h1>
            </div>

            <div class="col-8">
                <img class="d-block w-100 rounded" src="https://f000.backblazeb2.com/file/mutorials/graphics/Carousel_Chem.png" alt="Chemistry">
            </div>
        </div>      

    </div>

    <div class="jumbotron">

        <div class="row">

            <div class="col-8">
                <img class="d-block w-100 rounded" src="https://f000.backblazeb2.com/file/mutorials/graphics/Carousel_Bio.png" alt="Biology">
            </div>

            <div class="col-4">
                <h1 class="text-center">Biology</h1>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <%- include("../partials/components/siteStats") -%>
</div>

<div class="container jumbotron mt-4">

    <div class="row">

        <div class="col-7">
            
            <%- include("../partials/components/dailySnippet") -%>
        </div>

        <div class="col-5">
            <h5 class="text-center mt-3">Sounds exciting?</h5>
            <a class="btn btn-lg btn-block btn-primary" href="/signup">Start now!</a>
        </div>
    </div>

</div>

<div class="container mb-5">

    <footer class="center"><br><hr><br>Copyright © 2020 The Mu Foundation. All Rights Reserved.<br><a href='/termsOfService#terms-of-service'>Terms of Service</a> | <a href='/termsOfService#privacy-policy'>Privacy Policy</a></footer>

</div>

<%- include("../partials/footer") -%>
