<!-- reference subpage -->

<!-- ARGUMENTS:
    constants - the constant list from backend -->

<%- include("../../partials/header") -%>
<%- include("../../partials/navigationPrivate") -%>

<h1 class="my-5 container">Fundamental Constants</strong></h1>

<div class="container jumbotron mt-5">

    <% Object.keys(constants).forEach((constant) => { %>
        <div class="my-3">
            <h5><%= constant %></h5>
            <p><%= constants[constant] %></p>
        </div>
    <% }); %>

</div>

<div class="container">
    <a class="mb-5 btn btn-secondary" href="/references">Return to references page</a>
</div>

<%- include("../../partials/footer") -%>