<%# Template for the experience bar, for any user %>

<% try { %>

    <% let experience = experienceStats; %>
    
    <script>
    
        $(document).ready(function() {
    
            console.log("hi1");
            $("#experience-stats").hide(0);
            $("#experience-bar").mouseenter(function() {
                $("#experience-stats").show(100);
            });
            $("#experience-bar").mouseleave(function() {
                $("#experience-stats").hide(100);
            });
    
        });
        
    </script>
    
    <div class="progress" style="height: 20px;" id="experience-bar">
        <%# Progress bar isn't scaled out of 100, but instead leaves a 1% padding on each end %>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: <%= 1+98*Math.round(experience.remainder/experience.totalToNext) %>%"></div>
    </div>
    <p id="experience-stats" class="text-center"><strong>Level <%= experience.level %></strong> (<%= experience.remainder %>/<%= experience.totalToNext %> XP to Level <%= experience.level+1 %>)</p>
    
<% } catch(err) { %>
    <p class="text-center"><font color="red">[Site component can not be displayed due to an internal error]</font></p>
<% } %>